@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Aliquam porttitor pretium dui, non lobortis sem fringilla a. 
    Morbi non ultrices leo, et auctor sem. Aliquam erat volutpat. 
    Pellentesque ultricies iaculis sodales. 
    Aliquam ut nibh et risus hendrerit egestas in eget lorem. 
    Nam vitae magna scelerisque, consequat mauris imperdiet, lobortis eros. 
    Maecenas tempor metus massa, sed eleifend purus convallis non. 
    Nulla accumsan, est ac venenatis sagittis, nisi tellus volutpat purus, et venenatis dolor nunc et justo. 
    Sed condimentum est nisi, eget fringilla dui feugiat et. 
    Maecenas auctor dui a bibendum ornare. 
    Maecenas erat lacus, porta ut purus et, pretium sodales neque. Ut ut diam in neque dictum impe
    rdiet id id augue. Sed blandit lacinia urna vel aliquet.</p>
