@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ITS - Visoka škola strukovnih studija za informacione tehnologije<br />
    Beograd, Savski nasip 7<br />
    <abbr title="Phone">Telefon:</abbr>
    0113333222
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>