@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>School Archive</h2>
    <p class="lead"></p>

    <p>@Html.ActionLink("List of schools", "Index", "Skola", null, new { @class = "btn btn-primary btn-large" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam porta turpis a scelerisque elementum. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nullam porta turpis a scelerisque elementum.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Design</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nullam porta turpis a scelerisque elementum.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>
    </div>
</div>